article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "Heebo", sans-serif;
	min-height: 100vh - var(fontsize-scroll-text)
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body p {
	line-height: 2.1em;
	line-height: 1.8em;
    letter-spacing: 0.02em;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

button:focus {
	outline: none;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.center {
	text-align: center;
}

main {
	position: relative;
}

video {
	margin: auto;
	width: 100%;
}

.grid {
	width: 49.5%;
	display: inline-block;
}

.grid-3 {
	width: 33%;
	display: inline-block;
}

.half-video {
	width:50%;
	height:auto;
	margin: auto;
}

.third-video {
	width:75%;
	height:auto;
	margin: auto;
}

.content__details {
	position: relative;
	margin: auto;
	width: 75%;
	display: block;
	padding: 0 calc(6vmax - 0.25rem) calc(6vmax - 0.25rem);
}

.content__details--no-padding {
	padding: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.content__details__img {
	width: 100%;
	margin: auto;
	display: block;
	padding-top: 5vw;
	padding-bottom: 5vw;
}

#page .content__details__img {
	padding: 2vw 0;
}

.content__p {
	position: relative;
	display: block;
	font-size: 1.5em;
	padding: 2em 0;
}

/* Header */
.codrops-header {
	padding: calc(6vmax - 0.25rem);
	position: relative;
	z-index: 100;
	display: flex;
	align-items: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#page .codrops-header {
	visibility: hidden;
	padding: calc(4vmax - 0.25rem);
}

.codrops-header::before {
	/* content: 'Your browser does not support Intersection Observer API'; */
	position: absolute;
	background: red;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.75rem;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.ioapi .codrops-header::before {
	display: none;
}

.codrops-header__title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0 1em;
	text-align: left;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25rem;
}
.github {
	display: block;
	margin: 0 2rem;
}
.info {
	position: fixed;
	bottom: 6vmax;
	right: 2vmax;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	z-index: 100;
	color: var(--color-info);
	text-align: right;
}
.demos {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}
.demo {
	margin: 0 0.25em;
}
.demo span {
	white-space: nowrap;
	pointer-events: none;
}
a.demo--current {
	pointer-events: none;
	color: var(--color-link-hover);
}
.content {
	position: relative;
	display: block;
}
.content__section {
	position: relative;
	padding: 0 6vmax;
}
.caption__link {
	font-weight: bold;
	color: white;
	text-decoration: underline;
}
#page .content__section {
	height: auto;
}
#page .content__section a {
	color: white;
	font-weight: bold;
	font-style: italic;
}
.caption {
	font-style: italic;
	font-size: 1.5em;
	padding-bottom: 1.6em;
}
.caption--article {
	padding-top: 0.8em;
	padding-bottom: 0;
}
.tech-tag {
	margin:auto;
	font-size: 1.3em;
	padding: 0.6em;
	margin: 0.2em;
	letter-spacing: 0em;
	border: 1px solid #fff;
	display: inline-block;
}
.tech-tag__container {
	padding: 1em 0;
}
.page-text, ul {
	font-size: 1.3em;
	line-height: 2em;
}
ul {
	margin-left: 0;
}
.content__section:first-child {
	margin: 0 0 30vh;
}
.content__section:last-child {
	margin: 30vh 0 0;
}
.content__section:first-child,
.content__section:last-child {
	height: calc(100vh - 9.875em);
	text-align: left;
}
.content__link {
	display: block;
	position: relative;
	max-width: 100%;
	margin: 10vh 0 30vh auto;
}
.content__link--nobottom {
	margin-bottom: 10vh;
}
.content__img {
	position: relative;
	display: block;
	width: 37%;
}
.content__title {
	font-size: 3.2em;
}
.content__description {
	font-size: 1.75em;
  letter-spacing: 0.03em;
}
#page .content__img {
	position: relative;
	width: 75%;
	max-width: 75%;
}
.content__section .content__img {
	margin-left: auto;
}
.content__main,
.content__text {
	color: var(--color-scroll-text);
	font-size: var(--fontsize-scroll-text);
	font-family: var(--font-scroll-text);
	margin: 0;
	line-height: 1;
	font-weight: bold;
}
.content__main,
.content__contact {
	position: absolute;
	bottom: calc(var(--fontsize-scroll-text) * 1.5 + 6vmax);
}
.content__main span {
	display: block;
}
.content__text {
	position: absolute;
	bottom: 6vmax;
	left: 0;
	padding-left: 6vmax;
	z-index: 1000;
	line-height: 0.8;
}
.content__back {
	position: relative;
	display: inline-block;
	float: right;
	margin-left: auto;
  font-size: 4vw;
	color: #fff;
	border-bottom: 7px solid #fff;
	margin: 2em 0;
}

.content__back:hover {
	color: #fff;
	border-bottom: 7px double #fff;
}

.js .ioapi .content__text {
	position: fixed;
	opacity: 0;
	white-space: pre;
}
.content__text span {
	display: inline-block;
}
.content__contact {
	font-size: calc(var(--fontsize-scroll-text) / 2);
	font-family: var(--font-scroll-text);
}
.content__contact a:last-child {
	display: block;
}

.demo-1 {
	--color-text: #efedeb;
	--color-bg: #0e0e0e;
	--color-link: #1920f3;
	--color-link-hover: #555;
	--color-info: #fff;
	--color-main-text: #1d1c1c;
	--color-scroll-text: #efedeb;
	--font-scroll-text: 'Heebo', sans-serif;
	--fontsize-scroll-text: 8vw;
}

.content__main {
	color: var(--color-main-text);
}

main::before {
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(0,0,0,0.4);
}

#webgl {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 1200px) {
	.tech-tag {
		font-size: 1.1em;
	}
	.codrops-header {
		display: block;
		text-align: center;
		padding: 2.5rem 1rem 0;
	}
	.codrops-header__title {
		margin: 1rem 0;
	}
	.demos {
		margin: 0;
	}
	.info {
		padding: 0;
		position: relative;
		-webkit-writing-mode: initial;
		writing-mode: initial;
		text-align: center;
		bottom: auto;
		right: auto;
		margin: 0;
	}
	.github {
		display: none;
	}
	.content__text,
	.js.ioapi .content__text {
		bottom: 7rem;
	}
	.content__section:first-child {
		height: calc(100vh - 13.875em);
	}
	.content__section:last-child {
		height: calc(50vh - 13.875em);
	}
	.content__main,
	.content__contact {
		bottom: calc(var(--fontsize-scroll-text) * 1.5 + 15vh);
	}
	.content__details {
		position: relative;
		margin: auto;
		width: 100%;
		display: block;
		padding: 0 calc(6vmax - 0.25rem) calc(6vmax - 0.25rem);
	}
	.grid {
		width: 100%;
		margin: auto;
		display: block;
	}
	.half-video {
		width: 100%;
	}
	.third-video {
		width: 100%;
	}
	.page-text, ul {
		font-size: 1.4em;
	}
	.content__title {
		font-size: 2.2em;
	}
	.demo-1 {
		--fontsize-scroll-text: 13vw;
	}
	.content__img {
		width: 100%;
	}
	.info {
		visibility: hidden;
	}
	.codrops-header__title {
		font-size: 2.2em;
	}
	.content__details {
		width: 100%;
	}
}
