- var isHome = false
- var content = 'bio';
doctype html
html(lang=en)
  include includes/head.pug
  body(id=isHome ? "home" : "page" class="demo-1 loading" )
    div(class="loader" id="loader")
      div.spinner
    if isHome
      canvas(id=isHome ? "webgl" : "page" class="")
    include includes/header.pug

    if isHome
      include includes/homepage.pug
    else
      if content === 'contract'
        include includes/contract.pug
      else if content === 'personal'
        include includes/personal.pug
      else if content === 'ai'
        include includes/ai.pug
      else if content === 'archive'
        include includes/archive.pug
      else if content === 'bio'
        include includes/bio.pug

    if isHome
      include includes/foot.pug

script(src="../js/loader.js")