extends ./../layout.pug
block content
  div(class="content")
    div(class="content__details")
      h1.content__title Technical Artist at Meta (2024-2023)
      div.tech-tag__container
        span.tech-tag Pipelines
        span.tech-tag Tooling        
        span.tech-tag Maya
        span.tech-tag Blender
        span.tech-tag PopcornFX
        span.tech-tag PyQt/PySide

      p.page-text
        | At Meta I facilitated art pipelines for ingesting <span class="underline">3D animated weapons</span> and <span class="underline">environment assets</span> for a networked multiplayer shooter game.
        | I developed custom GUI and USD export tools to automate pipeline workflows in <span class="underline">Maya</span>, leveraging <span class="underline">PyQt/PySide.</span>
        | I also managed quality control of <span class="underline">VFX assets</span> delivered by external vendors, ensuring compliance 
        | with technical specifications, artistic standards, and production requirements.

      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/meta/superrumble.png")
      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/meta/superrumble_weapons.jpg")
      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/meta/superrumble_environment.jpg")                    
      p(class="caption")
        | Parenting particle systems to the joints of the fingers. Made with WebXR + Unity.

  div(class="content")
    div(class="content__details")
      h1.content__title Technical Artist for Anouschka (2023)
      div.tech-tag__container
        span.tech-tag AR
        span.tech-tag Unity C#
        span.tech-tag Shader Graph
        span.tech-tag Lighting    

      p.page-text
        | Interactive shaders with shadergraph and scene lighting in Unity. Prototyping with Niantic Lightship.

      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/anou/anou2.jpeg")

      div.grid
        div(class="center content__details__img")
          img(class="center content__details__img" src="./../img/2023/anou/anou5.gif")

      div.grid
        div(class="center content__details__img")
          img(class="center content__details__img" src="./../img/2023/anou/anou6.gif")

      div
        iframe(
          src="https://player.vimeo.com/video/993305305?h=b47ef1dc77&loop=1&autoplay=1&muted=1"
          style="width:100%;height:600px"
          frameborder="0"
          allow="autoplay; fullscreen; looping"
          allowfullscreen
        )
        script(src="https://player.vimeo.com/api/player.js")

      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/anou/shadergraph1.png")

      div(class="center content__details__img")
        img(class="center content__details__img" src="./../img/2023/anou/shadergraph3.png")

      include ./../partials/back.pug
