div(class="content")
  div(class="content__details")
    h1.content__title Snap Spectacles (2021)
    div.tech-tag__container
      span.tech-tag Augmented Reality
      span.tech-tag Hand-Tracking
      span.tech-tag Lens Studio

    p.page-text
      | In partnership with Spectacles, I was commissioned to create a Lens for Snap's Augmented Reality glasses. The Lens was released for the Spectacles and for the Snapchat app. I was given full creative control over the project, where I created a sidequest where you could talk to an NPC in the world and be given a quest to gather items using handtracking, and in return of completing the quest you are rewarded with a magic power. The concept was that when AR glasses become so available and uniquitious in the future, there could be an MMORPG-like game where there are NPCs and characters placed in the world that you could interact with throughout your day to level up things like power, armor, weapons, and other attributes.

    p.page-text
      | <blockquote class="twitter-tweet"><p lang="en" dir="ltr">In partnership with <a href="https://twitter.com/Spectacles?ref_src=twsrc%5Etfw">@Spectacles</a>✨💜<br><br>Loved working w/ Lens Studio&#39;s ML &amp; CV features, excited to play more!<br><br>✨Try the Glitter Hearts Lens for the Spectacles <a href="https://t.co/UStaf2QYrD">https://t.co/UStaf2QYrD</a><br><br>💜 Try the Glitter Hearts Snap Lens for your phone<a href="https://t.co/MftF61SntX">https://t.co/MftF61SntX</a><a href="https://twitter.com/hashtag/SnapSpectacles?src=hash&amp;ref_src=twsrc%5Etfw">#SnapSpectacles</a> <a href="https://t.co/1NP657U9zR">pic.twitter.com/1NP657U9zR</a></p>&mdash; Violeta López (@violet_forest) <a href="https://twitter.com/violet_forest/status/1479107791436410884?ref_src=twsrc%5Etfw">January 6, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    p.page-text
      | <blockquote class="twitter-tweet"><p lang="en" dir="ltr">AR creator <a href="https://twitter.com/violet_forest?ref_src=twsrc%5Etfw">@violet_forest</a> is being the change she hopes to see in the world, creating for Spectacles as a way to make the ordinary a little more extraordinary. <a href="https://t.co/luTpWhqccG">pic.twitter.com/luTpWhqccG</a></p>&mdash; Spectacles (@Spectacles) <a href="https://twitter.com/Spectacles/status/1478765840317222917?ref_src=twsrc%5Etfw">January 5, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    p.page-text
      | <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Glitter Hearts, the latest Lens Project by <a href="https://twitter.com/violet_forest?ref_src=twsrc%5Etfw">@violet_forest</a>, puts the user in a sweet AR wonderland. Reach out and collect hearts, spread glitter (and joy), and see the world made even brighter thanks to Violet&#39;s imagination brought to life. <a href="https://t.co/bbh4Tjv32e">pic.twitter.com/bbh4Tjv32e</a></p>&mdash; Spectacles (@Spectacles) <a href="https://twitter.com/Spectacles/status/1478450064569913344?ref_src=twsrc%5Etfw">January 4, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  div(class="content__details")
    h1.content__title Hicetnunc.xyz (2021)
    div.tech-tag__container
      span.tech-tag React
      span.tech-tag Front-End
      span.tech-tag Discord Mod
      span.tech-tag Community Engagement

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/hen.jpeg")  

    p.page-text
      | I worked part-time on hicetnunc.xyz alongside the founder and other core team members and developers. Hicetnunc is an NFT platform based off of the Tezos blockchain. Since its launch in March 2021, I was helping run the Discord by welcoming and onboarding new artists and helping them with troubleshooting when minting their NFTs, controlling spam and bots, and creating channels / organizing the discord to create an environment where users felt at home.

    p.page-text
      | I was also prototyping and creating new features in javascript/React and fixing bugs. I prototyped a follow feature, a price-hover feature, introduced the masonry layout, and coded the filter function for the primary/secondary market. I was also helping with organizing the Github by answering Github issues and I also wrote the official Github wiki to help onboard artists. 
    
    p.page-text
      | Sometimes I would help the founder/owner with internal strategy and public communications. I also hosted a Twitter Spaces talk under the Hicetnunc twitter account as a means of bringing the community together.

  div(class="content__details")
    h1.content__title Mirru (2021)
    div.tech-tag__container
      span.tech-tag Android
      span.tech-tag Arduino
      span.tech-tag Bluetooth
      span.tech-tag Hand-Tracking
      span.tech-tag Mediapipe
      span.tech-tag UX Design

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/fingermove-min.gif")  

    p.page-text
      | In collaboration with artist and designer Vladimir Hermand, I completed a 3-month fellowship sponsored by Tweag.io's Open Source Fellowship Program, where we built an opensource Open Bionics prosthesis that could be controlled with your phone's front-facing camera.
    
    p.page-text
      | After a week of conducting user research and virtual interviews to understand the problems from the user's perspective, I was able to design the app and core functionalities for a minimum viable product. Vlad was able to print and assemble the Open Bionics Brunel hand, and I was able to write the code for a Bluetooth Arduino application for the hand that could communicate with a handtracking Android app, so that a user could use their phone and free hand to change the grip of their prosthesis.
    
    p.page-text
      | We were also able to do in-person user testing with local users in Paris which provided insight into how the product could be improved for the next iteration. At the moment we don't have a next iteration planned but the project is available on Github for anyone to fork or clone. You can see the details of the project <a target="_blank" class="caption__link" href="https://mirru.app">here</a>.
    
    p.page-text
      | The project was also featured on the Google Developers Blog which is available to read for a technical overview of how Mediapipe handtracking was integrated into the project.
      | <blockquote class="twitter-tweet"><p lang="en" dir="ltr">👋 Control your Mirru prosthesis with MediaPipe hand tracking.<br><br>Read the story of how two independent designers took part in <a href="https://twitter.com/tweagio?ref_src=twsrc%5Etfw">@tweagio</a>&#39;s Open Source Fellowship program to help provide an affordable alternative to proprietary technology.<br><br>Right here → <a href="https://t.co/S1x5824ZT6">https://t.co/S1x5824ZT6</a> <a href="https://t.co/NPMxBzXZOq">pic.twitter.com/NPMxBzXZOq</a></p>&mdash; Google Developers (@googledevs) <a href="https://twitter.com/googledevs/status/1397600171991519236?ref_src=twsrc%5Etfw">May 26, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    p.page-text
      | <iframe width="560" height="315" src="https://www.youtube.com/embed/5Igj5cmza8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

div(class="content")
  div(class="content__details")
    h1.content__title UX Design Technologist (2020-2018)
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag VFXGraph
      span.tech-tag ShaderGraph
      span.tech-tag Virtual Reality
      span.tech-tag Mixed Reality
      span.tech-tag Leap Motion
      span.tech-tag Wifi Microcontrollers
      span.tech-tag MQTT
      span.tech-tag FramerX
      span.tech-tag Touchdesigner
      span.tech-tag LEDs
      span.tech-tag Voice Assistants
      span.tech-tag RunwayML
      span.tech-tag Face Recognition
      span.tech-tag Eye Tracking
      span.tech-tag Pose Estimation
    p.page-text
      | I worked as a full-time employee at Volkswagen Future Center Europe in Berlin, Germany.
      | I collaborated with UX designers and technologists to conceptualize and prototype UX solutions for Level 3-5 self-driving vehicles in private and car-pooling situations.

    p.page-text
      | The following includes some projects I have worked on:

    ul
      li
        | A mixed-reality experience in virtual reality.
      li
        | Concepts and prototypes for UX solutions using facial recognition, pose estimation, and eye tracking.
      li
        | An audio-reactive visualization using Unity's VFX and ShaderGraph.
      li
        | UI flows using state-machines in Unity.
      li
        | Prototypes for automation systems using MQTT, wifi Microcontrollers, raspberry pis, and LEDs.
      li
        | Concepts and designs for voice and digital assistants.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/vwfce.png")
      img(class="center content__details__img" src="./../img/contract/vwfce2.jpg")

  div(class="content__details")
    h1.content__title AR + Computer Vision App
    div.tech-tag__container
      span.tech-tag openCV
      span.tech-tag ARKit
      span.tech-tag Unity
    p.page-text
      | I was hired to make a mobile app that can detect the shape of a heart candy & place augmented reality on top of it. This research had led me to experiment with openCVforUnity contour detection, color detection, and training a haar cascade for object detection. In the end I settled on using openCVforUnity contour detection to trigger ARfoundation’s pointcloud feature detection.
    p.page-text
      | My research in computer vision has sparked my interest in machine learning and computer vision in general, and I am continuing my research with things like Google’s new open-source Mediapipe for handtracking, where I am collaborating on building an app to control open-source prosthetics with a mobile app. I am also interested in working with Google Coral.

    div(class="content__details")
      iframe(src="https://player.vimeo.com/video/437898670?portrait=0" style="width:100%;height:600px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
        script(src="https://player.vimeo.com/api/player.js")
      p(class="caption page-text") ***Please contact me for the password to see the AR demo as the project hasn't been released yet: info (at) violetforest.com

    div(class="content__details__img center")
      video(width='100%', height='600px', playsinline, autoplay, muted, loop)
        source(src='./../vid/heart-detect.mp4', type='video/mp4')

  div(class="content__details")
    h1.content__title Kiosk Development (2018-2017)
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag Front-end
    p.page-text
      | The Avocados from Mexico Kiosk was an openCV-based Emotion Tracking game featured at SXSW 2017. It was done in-house independent contractor in collaboration with NEXT/NOW agency in Chicago.
    p.page-text
      | The Red Wing Wall of Honor Kiosk consisted of a media-heavy double carousel of video clips, audio clips, and text for 50 different stories. The project was done in collaboration with the designers and creative directors of SOCIALDEVIANT, a creative digital agency in Chicago, Illinois.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/avomex.jpg")
      img(class="center content__details__img" src="./../img/contract/keepsmiling.png")
      img(class="center content__details__img" src="./../img/contract/avomex2.jpg")
      img(class="center content__details__img" src="./../img/contract/redwing.jpg")
      img(class="center content__details__img" src="./../img/contract/kiosk1.jpg")
      img(class="center content__details__img" src="./../img/contract/kiosk2.jpg")

  div(class="content__details")
    h1.content__title Front-End Development (2018-205)
    div.tech-tag__container
      span.tech-tag node.js
      span.tech-tag HTML/CSS
      span.tech-tag React
      span.tech-tag Pug
      span.tech-tag YAML
      span.tech-tag Angular
      span.tech-tag Stylus
      span.tech-tag Wordpress
    p.page-text
      | I had the privilege to work in collaboration with the developers from agencies Someoddpilot and Branger Briz on the Patagonia Actionworks app.
    p.page-text
      | I also worked with several other design studios in Chicago making desktop and mobile sites.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/paw.jpg")
      img(class="center content__details__img" src="./../img/contract/saucony.gif")
      img(class="center content__details__img" src="./../img/contract/prokeds.gif")
      img(class="center content__details__img" src="./../img/contract/sop-site.gif")
      img(class="center content__details__img" src="./../img/contract/pw-site.gif")

  div(class="content__details")
    h1.content__title Experimental Web (2017)
    div.tech-tag__container
      span.tech-tag three.js
      span.tech-tag GLSL
      span.tech-tag 3d
    p.page-text
      | A portfolio website made for Cara Ellison, game narrative designer / game critic.

    div(class="center content__details__img")
      video(width='100%', height='auto', playsinline, autoplay, muted, loop, controls)
        source(src='./../vid/caraellison.mp4', type='video/mp4')
    include ../includes/back.pug
