div(class="content")
  div(class="content__details")
    h1.content__title UX Design Technologist (2020-2018)
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag VFXGraph
      span.tech-tag ShaderGraph
      span.tech-tag Virtual Reality
      span.tech-tag Mixed Reality
      span.tech-tag Leap Motion
      span.tech-tag Wifi Microcontrollers
      span.tech-tag MQTT
      span.tech-tag FramerX
      span.tech-tag Touchdesigner
      span.tech-tag LEDs
      span.tech-tag Voice Assistants
      span.tech-tag RunwayML
      span.tech-tag Face Recognition
      span.tech-tag Eye Tracking
      span.tech-tag Pose Estimation
    p.page-text
      | I worked as a full-time employee at Volkswagen Future Center Europe in Berlin, Germany.
      | I collaborated with UX designers and technologists to conceptualize and prototype UX solutions for Level 3-5 self-driving vehicles in private and car-pooling situations.

    p.page-text
      | The following includes some projects I have worked on:

    ul
      li
        | A mixed-reality experience in virtual reality.
      li
        | Concepts and prototypes for UX solutions using facial recognition, pose estimation, and eye tracking.
      li
        | An audio-reactive visualization using Unity's VFX and ShaderGraph.
      li
        | UI flows using state-machines in Unity.
      li
        | Prototypes for automation systems using MQTT, wifi Microcontrollers, raspberry pis, and LEDs.
      li
        | Concepts and designs for voice and digital assistants.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/vwfce.png")
      img(class="center content__details__img" src="./../img/contract/vwfce2.jpg")

  div(class="content__details")
    h1.content__title AR + Computer Vision App
    div.tech-tag__container
      span.tech-tag openCV
      span.tech-tag ARKit
      span.tech-tag Unity
    p.page-text
      | I was hired to make a mobile app that can detect the shape of a heart candy & place augmented reality on top of it. This research had led me to experiment with openCVforUnity contour detection, color detection, and training a haar cascade for object detection. In the end I settled on using openCVforUnity contour detection to trigger ARfoundation’s pointcloud feature detection.
    p.page-text
      | My research in computer vision has sparked my interest in machine learning and computer vision in general, and I am continuing my research with things like Google’s new open-source Mediapipe for handtracking, where I am collaborating on building an app to control open-source prosthetics with a mobile app. I am also interested in working with Google Coral.

    div(class="content__details")
      iframe(src="https://player.vimeo.com/video/437898670?portrait=0" style="width:100%;height:600px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
        script(src="https://player.vimeo.com/api/player.js")
      p(class="caption page-text") ***Please contact me for the password to see the AR demo as the project hasn't been released yet: info (at) violetforest.com

    div(class="content__details__img center")
      video(width='100%', height='600px', playsinline, autoplay, muted, loop)
        source(src='./../vid/heart-detect.mp4', type='video/mp4')

  div(class="content__details")
    h1.content__title Kiosk Development
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag Front-end
    p.page-text
      | The Avocados from Mexico Kiosk was an openCV-based Emotion Tracking game featured at SXSW 2017. It was done in-house independent contractor in collaboration with NEXT/NOW agency in Chicago.
    p.page-text
      | The Red Wing Wall of Honor Kiosk consisted of a media-heavy double carousel of video clips, audio clips, and text for 50 different stories. The project was done in collaboration with the designers and creative directors of SOCIALDEVIANT, a creative digital agency in Chicago, Illinois.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/avomex.jpg")
      img(class="center content__details__img" src="./../img/contract/keepsmiling.png")
      img(class="center content__details__img" src="./../img/contract/avomex2.jpg")
      img(class="center content__details__img" src="./../img/contract/redwing.jpg")
      img(class="center content__details__img" src="./../img/contract/kiosk1.jpg")
      img(class="center content__details__img" src="./../img/contract/kiosk2.jpg")

  div(class="content__details")
    h1.content__title Front-End Development
    div.tech-tag__container
      span.tech-tag node.js
      span.tech-tag HTML/CSS
      span.tech-tag React
      span.tech-tag Pug
      span.tech-tag YAML
      span.tech-tag Angular
      span.tech-tag Stylus
      span.tech-tag Wordpress
    p.page-text
      | I had the privilege to work in collaboration with the developers from agencies Someoddpilot and Branger Briz on the Patagonia Actionworks app.
    p.page-text
      | I also worked with several other design studios in Chicago making desktop and mobile sites.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/paw.jpg")
      img(class="center content__details__img" src="./../img/contract/saucony.gif")
      img(class="center content__details__img" src="./../img/contract/prokeds.gif")
      img(class="center content__details__img" src="./../img/contract/sop-site.gif")
      img(class="center content__details__img" src="./../img/contract/pw-site.gif")

  div(class="content__details")
    h1.content__title Experimental Web
    div.tech-tag__container
      span.tech-tag three.js
      span.tech-tag GLSL
      span.tech-tag 3d
    p.page-text
      | A portfolio website made for Cara Ellison, game narrative designer / game critic.

    div(class="center content__details__img")
      video(width='100%', height='auto', playsinline, autoplay, muted, loop, controls)
        source(src='./../vid/caraellison.mp4', type='video/mp4')
    include ../includes/back.pug
