div
  div(class="content__details")
    h1.content__title Cybertwee Headquarters (2017)
    h2.content__description Unity, Vive

    p.content__p
      | The Cybertwee Headquarters is a virtual space made in Unity that was used to exhibit
      | .gifs .mp4s .mp3s .jpegs and .objs by various digital artists.
      | It was released on for the Vive, and a Google Cardboard version was released for iOS and Android.

    div.content__details__img
      video(width='100%', height='auto', playsinline, autoplay, muted, loop)
        source(src='./../img/flower-mirror/flower-mirror-vive.mp4', type='video/mp4')

    img(src="./../img/cthq/cthq1.png" class="content__details__img")

    img(src="./../img/cthq/cthq2.png" class="content__details__img")

    p.content__p
      | "cybertwee HQ is a “virtual space for gurls + tech” produced by the cybertwee
      | collective in 2016, which featured artwork by women using digital mediums. The
      | space served as an exhibition for 22 cybertwee artists alongside VNS matrix
      | (a pioneering cyberfeminist art collective founded in the 1990s), utilizing the
      | term “headquarters” for the resulting virtual environment. Spectators visit the
      | Cybertwee HQ using a Google Cardboard or tethered VR headset, and are given the
      | ability to fly or teleport through the space respectively." — Crossroads The ACM Magazine for Students WINTER 2018 VOL.25 • NO.2

    img(src="./../img/cthq/cthq-android.png" class="content__details__img")

    iframe(src="https://itch.io/embed/116252" height="167" width="100%" frameborder="0")
      a(href="https://violetforest.itch.io/the-cybertwee-headquarters")
        | the cybertwee HQ *~ by Violet Forest

    p.content__p
      | A kickstarter was made to expand the virtual exhibition space into a
      | non-profit gallery space that could host rotating exhibitions regularly,
      | educational events,
      | and create a virtual residency program for artists to transform the space.
      | The Kickstarter was a flop and probably for good reasons, and the project was abandoned, but there is
      | still a personal interest of pursuing the creation of a digital platform and virtual space
      | that is in favor of supporting digital arts through a virtual residency program.

    h1.content__title Press / Writings

    a(class="caption__a" target="__blank" href="https://medium.com/@joncates/collected-thoughts-on-histories-of-virtual-realities-vr-in-the-arts-and-related-technosocial-39d4f63709e9")
    a(class="caption__a" target="__blank" href="https://dl.acm.org/doi/pdf/10.1145/3301483")
    a(class="caption__a" target="__blank" href="https://www.vice.com/en_us/article/gvw949/cybertwee-collective-internet-feminist-cyberpunk")
    a(class="caption__a" target="__blank" href="https://killscreen.com/versions/cybertwee-aims-bring-femininity-vr/")
    a(class="caption__a" target="__blank" href="https://killscreen.com/versions/cybertwee-new-app/")

    include ../includes/back.pug
