-
  const sections = [
    {
      'title': 'Contract',
      'imgUrl': './../img/stars.png',
      'linkUrl': './contract/',
    },
    {
      'title': 'Personal',
      'imgUrl': './../img/aframe/aframe-preview.png',
      'linkUrl': './personal/',
    },
    {
      'title': 'AI',
      'imgUrl': './../img/posters/straw.png',
      'linkUrl': './ai/',
    }
  ]

div.content
  div.content__section
    div.content__main
    h2.content__text ⋆⋰⋆⍣⋰⋆

  each section in sections
    div.content__section
      a.content__link(href=section.linkUrl)
        img.content__img(src='./../img/' + section.imgUrl)
        h2.content__text
          | #{section.title}

  div.content__section
    div
      a(href="./bio/")
        h2.content__text bio
