div(class="content")
  div(class="content__details")
    h1 fl♡ա㉹r ɱĩᖆᖆōᖆ  (2018)
    h2 Unity, Vive, Three.js

    p
      | A three.js piece that was later translated into VR. You are given the ability
      zoom in and out to look at yourself as a flower in the mirror.
      The mobile version of the website allows you to use your device's
      orientation to move the mirror around like a pocket mirror.

      Made for The Wrong Digital Biennale Internet Fame Pavillion,
      and shown at Panke Gallery,
      Berlin in January 2018. The IRL Show was featured as an event for
      Transmediale Vorspiele 2018.

      include ../includes/back.pug

#pug -w . -o ./html -P
