extends layout.pug
block content
  -
    const sections = [
      {
        'title': 'XR Developer',
        'imgUrl': './../img/2023/meta/quest3.png',
        'linkUrl': './xr-developer/',
      }, // meta prototyyping, typescript, floodplains
      //- {
      //-   'title': 'Unity Developer',
      //-   'imgUrl': './../img/2023/meta/quest3.png',
      //-   'linkUrl': './xr/',
      //- }, // // floodplains, sparkle hands, desktop game, avocados for mexico 
      {
        'title': 'Technical Artist',
        'imgUrl': './../img/2023/meta/superrumble.png',
        'linkUrl': './technical-artist/',
      }, // meta superrumble pipelines, anouschka
      {
        'title': 'Creative Technologist',
        'imgUrl': './../img/contract/fingermove-min.gif',
        'linkUrl': './creative-technologist/',
      }, //mediapipe, Volkswagen
      {
        'title': 'Front-End Developer',
        'imgUrl': './../img/pw-site.gif',
        'linkUrl': './frontend/',
      },
      {
        'title': 'Three.js',
        'imgUrl': './../img/contract/cara.png',
        'linkUrl': './threejs/',
      },      
      {
        'title': 'GenAI',
        'imgUrl': './../img/2022/post-nature/postnature-thumb.jpg',
        'linkUrl': './art/',
      }    
    ]
    
  div.content
    div.content__section
      div.content__main
      h2.content__text ⋆⋰⋆⍣⋰⋆

    each section in sections
      div.content__section
        a.content__link(href=section.linkUrl)
          img.content__img(src='./../img/' + section.imgUrl)
          h2.content__text
            | #{section.title}

    div.content__section
      div
        a(href="./bio/")
          h2.content__text bio