div(class="content")
  div(class="content__details")
    h1.content__title UX Design Technologist (2020-2018)
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag VFXGraph
      span.tech-tag ShaderGraph
      span.tech-tag Virtual Reality
      span.tech-tag Mixed Reality
      span.tech-tag Leap Motion
      span.tech-tag Wifi Microcontrollers
      span.tech-tag MQTT
      span.tech-tag FramerX
      span.tech-tag Touchdesigner
      span.tech-tag LEDs
      span.tech-tag Voice Assistants
      span.tech-tag RunwayML
      span.tech-tag Face Recognition
      span.tech-tag Eye Tracking
      span.tech-tag Pose Estimation
    p.page-text
      | I worked as a full-time employee at Volkswagen Future Center Europe in Berlin, Germany.
      | I collaborated with UX designers and technologists to conceptualize and rapid prototype UX solutions for Level 3-5 self-driving vehicles in private and car-pooling situations.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/vwfce.png")
      img(class="center content__details__img" src="./../img/contract/vwfce2.jpg")           

    p.page-text
      | The following includes some rapid prototyping projects I have worked on:

    ul
      li
        | Concepts and prototypes for UX solutions using facial recognition, pose estimation, and eye tracking.
      li
        | An audio-reactive visualization using Unity's VFX and ShaderGraph.
      li
        | UI flows using state-machines in Unity.
      li
        | Prototypes for automation systems using MQTT, wifi Microcontrollers, raspberry pis, and LEDs.
      li
        | Concepts and designs for voice and digital assistants.
      img(class="center content__details__img" src="./../img/2020/vwfce1.jpg")
      img(class="center content__details__img" src="./../img/2020/vwfce2.jpg")

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/2020/porsche.jpg")
      p(class="caption")
        | We also collaborated with Porsche on a mixed-reality experience.

.content
  div(class="content__details")
    h1.content__title Kiosk Web Development (2018-2017)
    div.tech-tag__container
      span.tech-tag Unity
      span.tech-tag Front-end
    p.page-text
      | The Avocados from Mexico Kiosk was an openCV-based Emotion Tracking game featured at SXSW 2017. It was done in-house independent contractor in collaboration with NEXT/NOW agency in Chicago.

    div(class="center content__details__img")
      img(class="center content__details__img" src="./../img/contract/avomex.jpg")
      img(class="center content__details__img" src="./../img/contract/keepsmiling.png")
      img(class="center content__details__img" src="./../img/contract/avomex2.jpg")
              
div(class="content")
  div(class="content__details")
    h1.content__title Sketches (2018)
    h2.content__description Webmidi, Three.js, GLSL, Unity, Touchdesigner, audio

    div(class="center content__details__img")
      img.content__img(src="./../img/2018/ufo-poster.jpg")
      p.caption
        | Design sketch in Photoshop/Illustrator.

    div.content__details__img
      video(width='100%', height='auto', playsinline, autoplay, muted, loop)
        source(src='./../vid/threejsmidi.mp4', type='video/mp4')
      p.caption
        | Building a webmidi system to interact with Three.js sketches using fader/knobs.

    div.third-video
      video(width='100%', height='auto', playsinline, autoplay, muted, loop)
        source(src='./../vid/unity-palm-feather.mp4', type='video/mp4')
      p.caption
        | Playing with lights, cookies, and the tree generator in Unity3d.

    div.content__details__img
      video(width='100%', height='auto', playsinline, autoplay, muted, loop, controls)
        source(src='./../vid/star.mp4', type='video/mp4')
      p.caption Programmatically playing with particle systems and geometry in Unity3d. Audio by <a href="https://moiseshorta.audio/" class="caption__link"> Moisés Horta.</a>

    div.content__details__img
      video(width='100%', height='auto', playsinline, autoplay, muted, loop, controls)
        source(src='./../vid/camila.mp4', type='video/mp4')
      p.caption Audio with visuals by <a href="https://www.instagram.com/cibymili/" target="__blank" class="caption__link"> Camila Roriz</a>

    div.content__details__img
      div.half-video
        video(width='100%', height='auto', playsinline, autoplay, muted, loop)
          source(src='./../vid/iminlove.mp4', type='video/mp4')

      div.half-video
        video(width='100%', height='auto', playsinline, autoplay, muted, loop)
          source(src='./../vid/simple.mp4', type='video/mp4')

      div.half-video
        video(width='100%', height='auto', playsinline, autoplay, muted, loop)
          source(src='./../vid/rainbow-noise.mp4', type='video/mp4')

      div.half-video
        video(width='100%', height='auto', playsinline, autoplay, muted, loop)
          source(src='./../vid/colorful-shader.mp4', type='video/mp4')

        p.caption
          | some GLSL shader sketches
    
    include ./../partials/back.pug
